.loginBtn {
    -fx-background-color: #F4B59F;
    -fx-text-fill: black;
    -fx-border-width: 1;
    -fx-border-style: none;
    -fx-border-radius: 2;
}

.loginBtn:hover {
    -fx-background-color: transparent;
    -fx-text-fill: #F4B59F;
    -fx-border-color: #F4B59F;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-radius: 2;
}

.labelLink:hover {
    -fx-text-fill: #3B7389;
}